* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}
